html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #3bd6c6, #40e0d0, #43e8d8);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}