$color1: #463C81;
$colro2: #6F7FB0;

.container{
    width: 30%;
    height: 400px;
    margin: auto;
    position: absolute;
    top: -10%;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;

    .message, .link_home, .return{
        color: black;
        font-weight: 600;
        font-size: 20px;
        margin: 20px 0;
    }

    .link_home, .return{
        color: black;
        font-weight: 600;
        font-size: 18px;
    }

    .link_home{
        color: $color1;
        transition: 150ms ease-in-out;
    }
    .link_home:hover{
        color: $colro2;
    }

    .message{
        margin: 20px 50px;
    }
}